.chapters_block {
    margin: 24px 0px;
}

.chapters_text_block {
    display: flex;
    justify-content: center;
    width: 180px;
    height: 40px;
    background: #000000;
    font-size: 24px;
    color: #FFFFFF;
}

.chapters_text {
    margin: auto;
}

.chapters_list {
    padding: 10px 0px;
    border: 4px solid #000000;
}